<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit person</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }

        h3 {
            background-repeat: no-repeat;
            padding: 2px;
            padding-left: 30px;
        }

        .errors {
            color: red;
        }
    </style>

</head>
<body>

<h3>Редактирование книги</h3>
<form action="edit.html" th:object="${bookDTO}" th:action="@{/edit(id=${bookDTO.id})}" th:method="post">
    <div class="row">
        <label for="id_input">ID:</label>
        <input id="id_input" type="text" th:value="*{id}" readonly="readonly" value="1"/>
    </div>

    <div class="row">
        <label for="name_input">Наименование:</label>
        <input id="name_input" name="name" type="text" th:value="*{name}"/>
    </div>

    <div class="row">
        <label for="author_input">Автор:</label>
        <select id="author_input" name="author">
            <option th:each="author : ${bookDTO.allAuthors}" th:text="${author.name}" th:value="${author.id}">Имя автора</option>
        </select>
    </div>

    <div class="row">
        <label for="genre_input">Жанр:</label>
        <select id="genre_input" name="genre">
            <option th:each="genre : ${bookDTO.allGenres}" th:text="${genre.name}" th:value="${genre.id}">Имя автора</option>
        </select>
    </div>

    <div class="row">
        <button type="submit">Сохранить</button>
        <a href="list.html" th:href="@{/}"><button type="button">Отмена</button></a>
    </div>
</form>

</body>
</html>
